.header {
    display: flex;
    justify-content: space-between;
}

.nav-items > ul > li {
    display: inline;
    margin: 15px;
    list-style-type: none;
    gap: 10px;
}

.nav-items > ul{
    padding: 0px 30px;
    gap: 20px;
}

.logo {
    width: 120px;
}

.nav-items {
    display: flex;
    list-style-type: none;
    align-items: center;
    font-size: 18px;
}

.restaurant-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2px;
}

.restaurant-card {
    border: 1px solid #e2e2e2;
    border-radius: 10px;
    width: 230px;
    margin: 10px;
    padding: 10px;
    font-size: smaller;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.restaurant-image {
    border-radius: 10px;
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.search-input {
    margin-left: 20px;
    padding: 5px;
    width: 300px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-btn {
    padding: 10px 12px;
    margin-left: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #90a7e2;
    color: white;
    cursor: pointer;
}

.filter-btn {
    padding: 10px 12px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #90a7e2;
    color: white;
    cursor: pointer;
}

.shimmer-card {
    border: 1px solid #e2e2e2;
    border-radius: 10px;
    width: 230px;
    display: inline-block;
    height: 300px;
    margin: 10px;
    color: rgb(236, 231, 231);
    background: #f3f0f0;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    padding: 20px;
    gap: 10px;
}

-login-btn{
    padding: 20px 12px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #90a7e2;
    color: white;
    cursor: pointer;
}